body{
  background-color: darkslategray;
  color:blanchedalmond
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color:white;
}
nav *{
  color:white;
}

nav *:visited{
  color:white;
}

.SignIn{
  position: absolute;
  height:80vh;
  width:60vw;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: cadetblue;
  color:white;
}

.SignInForm{
  height:100%;
  width:100%;
  display:grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: 20% 80%;
  grid-template-rows: 30% 1fr 1fr 20% 2fr 40%;
  grid-template-areas: 
  "header header"
  "username_label username_input"
  "password_label password_input"
  "buffer buffer"
  "submit_button submit_button"
  "buffer_two buffer_two";
}

.SignInForm > h1{
  justify-self: center;
  align-self:center;
  grid-area:header;
}

.SignInForm > label[for="username"]{
  grid-area: username_label;
  margin-top:20px;
  margin-bottom:20px;
}

.SignInForm > label[for="password"]{
  grid-area: password_label;
  margin-top:20px;
  margin-bottom:20px;
}  

.SignInForm > input[name="username"]{
  grid-area: username_input;
  margin:20px;
  width:80%;
}

.SignInForm > input[name="password"]{
  grid-area: password_input;
  margin:20px;
  width:80%;
}

.SignInForm > button{
  justify-self: center;
  max-width: 80px;
  grid-area: submit_button;
}